apiVersion: batch/v1
kind: Job
metadata:
  name: calenviroscreen-5-0-ces5-convert
  labels:
    k8s-app: calenviroscreen-5-0-ces5-convert
spec:
  completions: 1
  parallelism: 1
  backoffLimit: 1
  ttlSecondsAfterFinished: 10800
  template:
    metadata:
      labels:
        k8s-app: calenviroscreen-5-0-ces5-convert
    spec:
      priorityClassName: opportunistic
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: feature.node.kubernetes.io/pci-10de.present
                operator: NotIn
                values:
                - 'true'
      restartPolicy: Never
      containers:
      - name: convert-task
        image: ghcr.io/boettiger-lab/datasets:latest
        imagePullPolicy: Always
        env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws
              key: AWS_SECRET_ACCESS_KEY
        - name: AWS_S3_ENDPOINT
          value: rook-ceph-rgw-nautiluss3.rook
        - name: AWS_PUBLIC_ENDPOINT
          value: s3-west.nrp-nautilus.io
        - name: AWS_HTTPS
          value: 'false'
        - name: AWS_VIRTUAL_HOSTING
          value: 'FALSE'
        - name: BUCKET
          value: public-calenviroscreen
        volumeMounts:
        - name: rclone-config
          mountPath: /root/.config/rclone
          readOnly: true
        command:
        - bash
        - -c
        - |
          set -e
          cng-convert-to-parquet \
            https://data.ca.gov/dataset/b38b4e2c-7ef0-47b3-bff0-29e0a80c8ed8/resource/85639252-b28f-41ce-a8b2-0f03e4484fa6/download/calenviroscreen50_d_12226.gdb.zip \
            s3://public-calenviroscreen/calenviroscreen-5-0/ces5.parquet \
            --row-group-size 100000 \
            --layer CES5_Draft
        resources:
          requests:
            cpu: '4'
            memory: 16Gi
          limits:
            cpu: '4'
            memory: 16Gi
      volumes:
      - name: rclone-config
        secret:
          secretName: rclone-config
