apiVersion: batch/v1
kind: Job
metadata:
  name: amphibians-hex
  labels:
    k8s-app: amphibians-hex
spec:
  completions: 199
  parallelism: 50
  completionMode: Indexed
  backoffLimitPerIndex: 3
  podFailurePolicy:
    rules:
    - action: Ignore
      onPodConditions:
      - type: DisruptionTarget
  ttlSecondsAfterFinished: 10800
  template:
    metadata:
      labels:
        k8s-app: amphibians-hex
    spec:
      priorityClassName: opportunistic
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: feature.node.kubernetes.io/pci-10de.present
                operator: NotIn
                values:
                - 'true'
      restartPolicy: Never
      containers:
      - name: hex-task
        image: ghcr.io/boettiger-lab/datasets:latest
        imagePullPolicy: Always
        env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws
              key: AWS_SECRET_ACCESS_KEY
        - name: AWS_S3_ENDPOINT
          value: rook-ceph-rgw-nautiluss3.rook
        - name: AWS_PUBLIC_ENDPOINT
          value: s3-west.nrp-nautilus.io
        - name: AWS_HTTPS
          value: 'false'
        - name: AWS_VIRTUAL_HOSTING
          value: 'FALSE'
        - name: TMPDIR
          value: /tmp
        - name: BUCKET
          value: public-iucn
        - name: DATASET
          value: amphibians
        command:
        - bash
        - -c
        - |-
          set -e
          cng-datasets vector --input s3://public-iucn/amphibians.parquet --output s3://public-iucn/amphibians/chunks --chunk-id ${JOB_COMPLETION_INDEX} --chunk-size 53 --intermediate-chunk-size 10 --resolution 10 --parent-resolutions 9,8,0
        resources:
          requests:
            cpu: '4'
            memory: 24Gi
          limits:
            cpu: '4'
            memory: 24Gi
